
.cart-page {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.cart-items {
    display: flex;
    flex-direction: column;
}

.cart-item {
    align-items: center;
    display: flex;
    flex-direction: column;
}

#cart-container {
    width: 300px;
    text-align: center;
    margin: auto;
}

.cart-img {
    width: 120px;
    height: auto;
    border-radius: 6px;
}

.cart-title {
    font-size: 20px;
}

.cart-price {
    font-weight: 600;
}

.cart-quantity {
    display: flex;
    width: 100px;
    border: 1px solid #999;
    border-radius: 6px;
}

.cart-quantity-button {
    background: transparent;
    width: 30px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.cart-quantity .number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    cursor: default;
}

.remove-button {
    font-size: 20px;
    cursor: pointer;
    padding: 8px;
    border-radius: 8px;
    margin-top: 10px;
}

.checkout-btn {
    display: block;
    align-items: center;
    padding: 10px;
    background-color: orangered;
    border-radius: 6px;
    font-size: 16px;
    color: white;
    margin-top: 50px;
    cursor: pointer;
}

.cart-form {
    display: flex;
    flex-direction: column;
    width: 250px;
    gap: 5px;
    margin: auto;
}

.cart-form p,
.cart p {
    font-weight: 600;
}

.complete-btn {
    background-color: orangered;
    color: white;
    padding: 5px 20px;
    border-radius: 5px;
    margin: 20px auto;
    text-decoration: none;
}

.success {
    display: none;
}

.success.active {
    display:block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color:rgb(233, 50, 14);
    color:white;
    text-align: center;
    padding: 30px;
    width:80%;
    height: 200px;
    align-content: center;
    border-radius: 10px;
    margin: auto;
    transition: 0,5s ease;
    box-shadow: 0 2px 8px rgba(0,0,0,1);
}

.success-btn {
    background-color: white;
    color: rgb(233, 50, 14);
    padding: 8px 30px;
    border-radius: 8px;
}

.success a {
    text-decoration: none;
    font-weight: 600;
}

@media (min-width: 800px) {
    .cart-page {
        display: flex;
        flex-direction: row;
        margin: auto;
        justify-content: space-evenly;
    }

    .cart-form {
        margin: 0;
    }


}