header {
    padding: 50px 30px;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    color: white;
}

.logo {
    height: 50px;
    width: auto;
}

#cart-icon {
    position: relative;
    display: flex;
    font-size: 30px;
    cursor: pointer;
    color: white;
}

.cart-count {
    position: absolute;
    top: 50px;
    right: 25px;
    width: 30px;
    height: 30px;
    background-color: rgb(233, 50, 14);
    border-radius: 50%;
    font-size: 12px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2 {
    text-align: center;
}

.search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    align-items: center;
}

#searchForm input {
    height: 30px;
    width: 200px;
    border-radius: 8px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    margin: auto;
    max-width: 1000px;
    gap: 20px;
    padding: 20px 20px 50px 20px;
}

.card {
    background-color: rgb(245, 245, 245);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
    overflow: hidden;
    padding: 20px;
}

.card:hover {
    transform: translateY(-5px);
}

.card-anchor {
    text-decoration: none;
    color: black;
}

.image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}

.game-container {
    display: flex;
    flex-direction: column-reverse;
    padding: 20px 20px 50px 20px;
    width: 300px;
    align-items: center;
    margin: auto;
}

.game-page {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    align-items: center;
    margin: auto;
    padding: 10px 30px;
}

.game-image {
    max-width: 300px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}

.price {
    font-weight: 600;
}

.shop-button {
   background-color: rgb(233, 50, 14);
   color: white;
   padding: 8px 25px;
   border-radius: 8px;
   font-weight: 600;
   margin-top: 20px;
}

.form-page {
    display: flex;
    margin: auto;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

footer {
    background-color: black;
    color: whitesmoke;
    text-align: center;
    padding: 10px;
}

